server:
  port: 8083

spring:
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
    connection-timeout: 10000
    requested-heartbeat: 30
    listener:
      simple:
        default-requeue-rejected: false
  application:
    name: user-service
  
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/openleaf_users}
    driver-class-name: org.postgresql.Driver
    username: ${SPRING_DATASOURCE_USERNAME:postgres}
    password: ${SPRING_DATASOURCE_PASSWORD:postgres}

  
  jpa:
    hibernate:
      ddl-auto: update  # Automatically creates/updates tables
    show-sql: true      # Shows SQL in console
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics
  endpoint:
    prometheus:
      enabled: true
  metrics:
    export:
      prometheus:
        enabled: true
    tags:
      application: ${spring.application.name}

keycloak:
  auth-server-url: http://localhost:8080
  realm: OpenLeaf
  admin:
    client-id: admin-cli
    client-secret: ImrQWMuoQyBkJborBMsQ3gnf1dzLdJgK

logging:
  level:
    org.example: DEBUG
    org.springframework.web: DEBUG
    org.hibernate.SQL: DEBUG