apiVersion: v1
kind: ConfigMap
metadata:
  name: user-service-config
  namespace: openleaf
data:
  SPRING_PROFILES_ACTIVE: "production"
  SPRING_DATASOURCE_URL: "jdbc:postgresql://postgres-users:5432/openleaf_users"
  KEYCLOAK_URL: "http://keycloak:8080"
  SPRING_RABBITMQ_HOST: "rabbitmq"
  SPRING_RABBITMQ_PORT: "5672"

---
apiVersion: v1
kind: Secret
metadata:
  name: user-service-secret
  namespace: openleaf
type: Opaque
stringData:
  SPRING_DATASOURCE_USERNAME: "postgres"
  SPRING_DATASOURCE_PASSWORD: "postgres"
  SPRING_RABBITMQ_USERNAME: "guest"
  SPRING_RABBITMQ_PASSWORD: "guest"